<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">



    <title>ERROR 404</title>
</head>
<body>
    <h1 id="error">ERROR 404</h1>
    <h1><a href="/" id="error404">Back home</a></h1>
</body>
</html>