<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/static/file.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body> 
    
        <input type="text" list="searchs" name="search" id="search">
        <datalist id="searchs">
            {{$MDR := .}}
            {{range $ID,$v:= $MDR.Artists}}
            <option data-id="{{$ID}}">{{(index $MDR.Artists $ID).Name}} -artist</option>
    
    <input type="text" list="searchs" name="search" id="search">
    <datalist id="searchs" name="searchs">
        {{$MDR := .}}
        {{range $ID,$v:= $MDR.Artists}}
        <option data-id="{{$ID}}" value="{{(index $MDR.Artists $ID).Name}} | Artist - Band">

        {{range (index $MDR.Artists $ID).Members }}
            <option data-id="{{$ID}}" value="{{.}} | Member"></option>
        {{end}}
            <option data-id="{{$ID}}" value="{{(index $MDR.Artists $ID).FirstAlbum}} | First Album"></option>
            <option data-id="{{$ID}}" value="{{(index $MDR.Artists $ID).CreationDate}} | Creation date"></option>
        {{end}}

    {{range $ID,$v := $MDR.Locations.Index}}
        {{range (index $MDR.Locations.Index $ID).Locations}}
            <option data-id="{{$ID}}" value="{{.}} | Locations"></option>
        {{end}}
    {{end}}
    </datalist>

    <div class="div-btn">
        <button class="btn" type="button" onclick="javascript:petitTest();">GO</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"</script>

</body>
</html>