/*Commun*/

html,body {
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

body {
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: #d7dddd;
}

a {
    color: dark;
    text-decoration: none;
    color: white;
}

a:hover, a:active, a:visited {
    color: white;
}

@font-face {
    font-family: 'gisbon_demodemo';
    src: url('gisbon_demo-webfont.woff2') format('woff2'),
         url('gisbon_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "montserrat";
    src: url('Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width:1700px){
    html,body{
        zoom: 90%;
    }

    #position-text-artist{
        font-size: 20px;
    }

    #follower{
        font-size: 22px;
    }

    .title-top-songs{
        font-size: 77px;
    }

    .top-songs h2{
        font-size: 39px;
    }
}


/**************Style bouton**************/

.button-style{
    height: 65px;
    width: 250px;
    margin-top: 12%;
    text-align: center;
    border-radius: 32px;
    border: none;
    background-color: rgba(255,255,255, 0.48)
}

.button-style:hover{
    background-color: black;
}

.button-style{
    font-weight: bold;
    color: white;
    font-size: 25px;
}


/**************Footer**************/

footer{
    background-color: black;
    width: 100%;
    height: 300px;
    display: block;
}

.flex-footer{
    display: flex;
    flex-direction: row;
}

.title-footer{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.title-footer section{
    text-align: center;
    font-size: 25px;
}

#groupie{
    margin-right: 120px;
}

.logo-footer{
    width: 100%;
    text-align: center;
}

.logo-footer img{
    height: 60px;
}

.links{
    flex-basis: 45%;
    overflow: hidden;
}

.links h1{
    text-align: center;
    margin-left: 60px;
}

.flex-link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-link li {
    flex-basis: 25%;
    text-align: center;
    margin-top: 5%;
}

.flex-link a:hover{
    text-decoration: underline white;
}

.contact{
    flex-basis: 30%;
}

.contact section{
    overflow: hidden;
    height: 30%;
}

.contact h1{
    text-align: center;
}

.email{
    width: 50%;
}

.linkedin{
    width: 34%;
    text-align: center;
}

.flex-contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/***************************Page Index***************************/

.position-image-index{
    display: block;
    bottom: 0px;
}

.image-index{
    background: url("/static/images/concert.png") no-repeat center;
    height: 950px;
    background-size: cover;
    text-align: center;
    width: 100%;
}

.title-index {
    position: relative;
    bottom: 5%;
    font-size: 80px;
    font-family: "gisbon_demodemo";
    color: white;
    text-shadow: 4px 4px grey;
    height: 400px;
    overflow: hidden;
}

.text-title-index {
    font-size: 60px;
    color: white;
}

@media screen and (max-width:1200px){
    .title-index {
        font-size: 70px;
    }

    .text-title-index {
        font-size: 50px;
        color: white;
    }
}

@media screen and (max-width:950px){

    .title-index {
        font-size: 50px;
    }

    .text-title-index {
        font-size: 20px;
        color: white;
    }
}

.box-button{
    display: flex;
    width: 200px;
    margin-left: 45%;
    justify-content: center;
    background-color: #F98718;
    transform: skewX(-15deg);
    box-shadow: 6px 6px white;
}

.button-index{
    display: flex;
    padding: 10px;
}

.box-button:hover{
    width: 250px;
    transition: 1s;
    box-shadow: 6px 6px #3A1757;
    margin-left: 43%;
}

.button-index text{
    font-size: 30px;
    margin-left: 35px;
}

.box-button:hover text{
    transform: translateX(-25px);
    transition: 0.5s;
}

.button-index .one{
    visibility: hidden;
    transition: 0.5s;
    width: 35px;
}

.box-button:hover .one{
    visibility: visible;
}

.two{
    z-index: 1;
    margin-left: -37px;
    visibility: hidden;
    transition: 0.5s;
    width: 35px;
}

.box-button:hover .two{
    transform: translateX(-15px);
    visibility: visible;
}

.three{
    z-index: 2;
    margin-left: -37px;
    visibility: hidden;
    transition: 0.5s;
    width: 35px;
}

.box-button:hover .three{
    transform: translateX(20px);
    visibility: visible;
}

.button-back{
    color: #3A1757;
    text-shadow: 5px 5px #F98718;
    font-size: 40px;
    font-family: "gisbon_demodemo";
    border: none;
    background-color: transparent;
}

.button-back:hover{
    color: #F98718;
    text-shadow: 5px 5px #3A1757;
}

.flexbox-index{
    display: flex;
    width: 100%;
    justify-content: center;
}

.section-flex{
    width: 100%;
}

.espacement{
    width: 100%;
    height: 94px;
}

.grid-flex{
    display: flex;
    flex-flow: column wrap;
    width: 840px;
}

.line-flexbox1{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.grid-flex section{
    padding: 25px;
    margin-top: 15%;
    color: black;
}

.line-flexbox2 section{
    position: relative;
    right: 25px;
    padding: 25px;
}

.line-flexbox2 img{
    right: 40px;
}

.image-flex{
    width: 400px;
    height: 400px;
}

.image-flex img{
    width: 600px;
    height: 100%;
    position: relative;
    z-index: 1;
}

.padding-flex{
    padding: 15px;
}

.line-flexbox1 img{
    float: right;
}

.animation-text-index{
    animation: slide 1s linear 1 ;
}

@keyframes slide{
    0%{margin-top: 121px;
        visibility: hidden;}

    33%{margin-top: 121px;
        visibility: visible;}

    50%{margin-top: 100px;
        visibility: visible;}

    66%{margin-top: 90px;
        visibility: visible;}

    80%{margin-top: 80px;
        visibility: visible;}

    90%{margin-top: 70px;
        visibility: visible;}

    100%{margin-top: 60px;
        visibility: visible;}

}

.line-flexbox2 img{
    float: left;
}

.line-flexbox2{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row-reverse nowrap;
    flex-flow: row-reverse nowrap;
}


/**************card de présentation**************/
.position-flexbox-presentation{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;
    background-color: white;
    padding-bottom: 100px;
    padding-top: 15px;
}

.position-flexbox-presentation h1{
    text-align: center;
    color: black;
    font-size: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.flex-box-presentation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    margin-left: 2.5%;
}

.card-presentation{
    background-color: grey;
    width: 400px;
    height: 500px;
    border-radius: 6px;
    color: black;
}

@media screen and (min-width:700px){
    #card2{
        margin-left: 10%;
    }
}

.card-presentation img{
    width: 100%;
    height: 270px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-size: cover;
}

.card-presentation section{
    text-align: center;
}


/***************************Bouton retour***************************/

.menu-button {
    position: fixed;
    z-index: 2;
}

#button-back-menu{
    position: relative;
    top: -10px;
    left: 30px;
    width: 50px;
}

#button-back-menu:hover{
    color: #F98718;
    text-shadow: 5px 5px #3A1757;
}

#button-back-menu:hover,:active,:visited{
    border: none;
}

/***************************Header***************************/
:root {
    --rad: .5rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #3A1757;
    --height: 3rem;
    --btn-width: 5rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

header {
    width:100%;
    background: linear-gradient(90deg, #3A1757 20%, #F98718);
    height: 100px;
    display: grid;
    grid-template: 100px/ auto 150px 120px 32rem;
}

header div {
    width: auto;
}

.logo-ynov{
    grid-area: 1/1/1/1;
    width: auto;
}

.logo-ynov img {
    margin-top: 30px;
    margin-left: 10px;
}

.random-artist {
    grid-area: 1/2/1/2;
    width: 150px;
    text-align: center;
    margin-top: 1px;
}

.random-artist img {
    position: relative;
    top: 10px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.random-artist p {
    position: relative;
    bottom: 30px;
    text-align: center;
    font-size: 19px;
    color: white;
    z-index: 2;
    cursor: pointer;
    font-family: "montserrat";
}

.allLocations {
    grid-area: 1/3/1/3;
    text-align: center;
    width: 120px;
}

.allLocations img {
    position: relative;
    top: 10px;
    width: 80px;
}

.allLocations p {
    position: relative;
    bottom: 29px;
    text-align: center;
    font-size: 19px;
    color: white;
    z-index: 2;
    font-family: "montserrat";
}

.form-search{
    grid-area: 1/4/1/4;
    width: 30rem;
    height: 30px;
}


/***************************SearchBar***************************/

.design-search, .button {
    height: var(--height);
    border: 0;
    color: var(--color-dark);
    font-size: 1.4rem;
    margin-right: 2rem;
    margin-top: 27px;
}

.design-search[type="text"] {
    outline: 0; 
    width: 90%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none; 
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

.button {
    display: none; 
    position: absolute;
    color: #F98718;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
}

.design-search:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - 8rem);
}

.button:not(:placeholder-shown){
    display: block;
}

@media screen and (max-width:700px) {

    header{
        background-color: #18062C;
        height: 150px;
    }

    .logo-ynov{
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .form-search{
        width: 20rem;
        float: none;
        margin-left: 15%;
    }
}


/***************************Filter***************************/

.title-filters{
    font-size: 65px;
    color: #3A1757;
    text-shadow: 5px 5px #F98718;
    font-family: "gisbon_demodemo";
    z-index: 2;
    position:relative;
    left: 370px;
    bottom:10px;
}

.form-filter{
    background-color: white;
    width: 70%;
    height: 450px;
    margin-left: 15%;
    margin-top: -110px;
}

.position-text{
    border:1px solid transparent;
    color:black;
    width: 50%;
    height: 95%;
    text-align: center;
    margin-left: 25%;
    margin-top: 5px;
}

.position-text li{
    display: block;
    margin-top: 15px;
    font-size: 20px;
}

.position-text button{
    margin-top: 0;
    font-size: 20px;
    color: white;
    width: 241px;
    height: 53px;
    border-radius: 30px;
    background-color: #F98718;
    border: none;
    text-align: center;
    font-weight: bold;
}

.select-second{
    margin-left:134px;
}

#filter {
    margin-top: 5%;
    height: 450px;
}


/***************************Menu Card***************************/

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px;
    border-radius: 15px;
    margin-right: 2%;
    margin-top: 2%;
}

.flip-card-front img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 15px;
    transition: transform 1.2s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg)
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 15px;
}
  
.flip-card-back {
    background-color: white;
    transform: rotateY(180deg);
    border-radius: 15px;
}

.flip-card-back h1 {
    font-family: "gisbon_demodemo";
    color: #3A1757;
    text-shadow: 4px 4px #F98718;
}

.flip-card-back h3{
    font-family: "gisbon_demodemo";
    color: #3A1757;
}

.flip-card-back p{
    position: relative;
    text-align: center;
    font-size: 13px;
    color: #F98718;
    bottom: 15px;
    font-family: "montserrat"
}

.flip-card-front img{
    border-radius: 15px;
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

#div-deezer-input{
    text-align: center;
    overflow:hidden;
    margin-top: 15px;
    padding: 5px;
    width: 60%;
    margin-left: 20%;
    position: absolute;
}

#button-pop-deezer{
    position: relative;
    left: 30px;
}

.input-deezer, .button-deezer{
    height: var(--height);
    border: 0;
    color: var(--color-dark);
    font-size: 1.4rem;
    z-index: 2;
}

.input-deezer{
    outline: 0; 
    width: 18%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none; 
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

.input-deezer:not(:placeholder-shown) {
    width: 22%;
}
  
.button-deezer {
    color: #F98718;
    width: 100px;
    font-weight: bold;
    background: var(--color-brand);
    border-radius: var(--rad);
    position: relative;
    top: 0;
    right: 0;
}


/***************************Page Artist***************************/

#header-artist{
    height:830px;
    border-top: 1px solid transparent;
    background-color: white;
    overflow: hidden;
}

#position-image-artist{
    height: 770px;
    width: 770px;
    float: right;
    z-index: 1;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#position-image-artist img{
    width: 100%;
    height: 100%;
}

#position-text-artist{
    color: white;
    border:  1px solid transparent;
    z-index: 2;
    position: relative;
    height: 100%;
}

#position-text-artist h1{
    margin-top: 150px;
    font-size: 120px;
    color: #3A1757;
    text-shadow: 8px 8px #F98718;
    font-family: "gisbon_demodemo";
    margin-left: 50px;
    height: auto;
    width: 55%;
}

.title-top-songs{
    color: #3A1757;
    font-family: "gisbon_demodemo";
    text-shadow: 8px 8px #F98718;
    font-size: 70px;
    margin-left: 50px;
}

.container-songs{
    background-color: #3A1757;
    width: 95.8%;
    height: 144px;
    position: absolute;
    z-index: 0;
    top: 29px;
    left: 50px;
}

.top-songs{
    text-align: center;
    position: relative;
    bottom: 40px;
}

.top-songs li{
    margin-right: 122px;
    z-index: 2;
    position: relative;
}

.top-songs ul,li{
    display: inline-block;
}

.top-songs ul li img{
    border-radius: 300px;
    width: 192px;
    height: 192px;
    border: 3px solid white;
}

.top-songs h2{
    position: relative;
    bottom: 59px;
    z-index: 3;
    color: #F98718;
    font-size: 35px;
    font-family: "gisbon_demodemo";
}

.player {
    background-color: white;
    width: 75%;
    height: 200px;
    margin-top: -6%;
    margin-left: 12.5%;
}

#title-player {
    height: 72px;
    font-family: "gisbon_demodemo";
    color: #3A1757;
    text-shadow: 5px 5px #F98718;
    font-size: 70px;
    z-index: 2;
    position: relative;
    bottom: 70px;
    left: 50px;
}

.player-container {
    width: 95%;
    height: 130px;
    margin-left: 2.5%;
    z-index: 1;
    position: relative;
    top: -75px;
}

.position-flex{
    position: relative;
    bottom: 170px;
}

.flex-artists{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.container-concerts{
    flex-basis: 45%;
    padding: 50px;
}

.container-concerts h1 {
    color: #3A1757;
    text-shadow: 5px 5px #F98718;
    font-size: 70px;
    font-family: "gisbon_demodemo";
    z-index: 1;
    position: relative;
    top: 85px;
    left: 50px;
}

.between-concerts {
    background-color: white;
    height: 499px;
    box-shadow: 2px 2px 2px grey;
    display: grid;
    grid-template: 499px / 50% 50%;
}

.between-concert{
    height: 499px;
    box-shadow: 2px 2px 2px grey;
}

.container-location-concerts {
    grid-area: 1/1/1/1;
    width: auto;
    height: 50px;
}

.flex-location-concerts {
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    color: black;
}

#scroll-songs{
    overflow-y:scroll;
    flex-wrap: nowrap;
    width: 100%;
    background-color: white;
    height: 100%;
    color: black;
}

.flex-song-scroll{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba(128,128,128,0.5);
}

#maj-title div {
    padding-top: 20px;
    color: grey;
}

.player-song{
    flex-basis: 5%;
    text-align: center;
    margin-top: 3px;
}

.player-song img{
    width: 40px;
    height: 40px;
    opacity: 0;
}

.title-songs{    
    flex-basis: 40%;
    padding-left: 15px;
}

.album-songs{
    flex-basis: 45%;
}

.duree-songs{
    flex-basis: 5%;
}

.flex-song-scroll:hover .player-song img{
    opacity: 1;
}

#location-concert {
    font-family: "montserrat";
    font-size: 20px;
    text-transform: capitalize;
    color: #F98718;
    z-index: 3;
}

.container-date-concerts {
    grid-area: 1/2/1/2;
    position: absolute;
    top: 30%;
    left: 30%;
    display: none;
    z-index: 2;
}

.container-date-concerts p {
    font-family: "montserrat";
    color: #3A1757;
    font-size: 25px;
}

#date-concert {
    color: black;
    text-align: center;
    font-size: 18px;
}

.container-location-concerts:hover + .container-date-concerts {
    display: flex;
    flex-direction: column;
}

.container-location-concerts:hover {
    background-color: #F98718;
}

.container-location-concerts:hover #location-concert {
    color: #3A1757;
}

.container-albums{
    flex-basis:  47%;
}

.container{
    width: 100%;
    display:block;
    overflow:hidden;
    background-color: white;
    border-radius: 0px;
    margin-top: 249px;
    height: 462px;
    position: relative;
    bottom:150px;
    box-shadow: 2px 2px 2px grey;
    padding: 2%;
}

.carousel{
    display:block;
    width: 850px;
    height: 400px;
    background: white;
    overflow-x: scroll;
    padding: 10px;
    margin: 0;
    white-space: nowrap; 
    margin-top: 40px;
}

.item{
    display: inline-block;
    width: 380px;
    margin: 0 10px;
    height: 380px;
    background: rgba(0, 0, 0, 0.05) no-repeat center center;
    background-size: cover;
    position:relative;
    border-radius: 10px;
    box-shadow: 0 0 10px #dfdfdf;
}

.albums-title{
    color: #3A1757;
    text-shadow: 5px 5px #F98718;
    font-size: 70px;
    font-family: "gisbon_demodemo";
    z-index: 2;
    position: relative;
    top: 140px;
    left: 50px;
}
  
.item h1{
    top: 80%;
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    color: #F98718;
    font-family: "gisbon_demodemo";
  }


.background-map{
    background-color: white;
    width: 95%;
    height: 900px;
    margin-left: 2.5%;
    position: relative;
    bottom: 350px;
}

.map-title{
    color: #3A1757;
    text-shadow: 5px 5px #F98718;
    font-size: 70px;
    font-family: "gisbon_demodemo";
    z-index: 1;
    position: relative;
    bottom: 260px;
    left: 100px;
    width: 30%;
}

#mapID{
    width: 95%;
    height: 800px;
    margin-left: 48.5px;
    top: 50px;
}

.follower p{
    position: relative;
    bottom: 15px;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

#logo-deezer{
    width: 75px;
    height: 75px;
}


/***************************Page Error***************************/
#error-button{
    background-color: #707070;
}

#error-button:hover{
    background-color: black;
}

#error{
    margin-top: 10%;
    text-align: center;
}

#error h1{
    text-align: center;
    color: black;
}

#div-button-error{
    text-align: center;
}


/***************************Page concertLocation***************************/

.concertLocation {
    background-color: white;
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.concert {
    background-color: transparent;
    width: 200px;
    height: 100px;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 5px;
}

.concert:hover {
    background-color:#F98718;
}

.concert:hover #location {
    color: #3A1757;
}

.flag {
    position: relative;
    top: 3%;
    text-align: center;
}

.location {
    text-align: center;
}

#location {
    margin-top: 0;
    font-size: 23px;
    font-family: "montserrat";
    color:#F98718 ;
}

.capitalize {
    text-transform: capitalize;
}

/*********cityConcertt*********/
.city-concert {
    text-align: center;
    font-family: "gisbon_demodemo";
    font-size: 40px;
    color: #3A1757;
    text-shadow: 8px 8px #F98718;
}

.city-concert-artist {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.container-title-mapcity {
    width: 100%;
   
}

.mapcity-title {
    width: 400px;
    font-family: "gisbon_demodemo";
    font-size: 50px;
    color: #3A1757;
    text-shadow: 4px 4px #F07404;
    position: relative;
    top: 70px;
    left: 100px;
    z-index: 2;
}

.background-mapcity {
    width: 96%;
    height: 550px;
    background-color: white;
    margin-left: 2%;
    border: 1px solid transparent;
}

#mapcity{
    background-size: cover;
    height: 500px;
    width: auto;
    margin: 2%;
    z-index: 1;
}


/***************************Page Deezer***************************/

#info-artist-deezer{
    font-size: 30px;
}

.flex-artist1{
    border: 1px solid green;
}

.flex-artist2{
    border: 1px solid blue;
}

#info-artist-deezer p{
    display: block;
}

#info-artist-deezer{
    position: absolute;
    bottom: 0px;
    margin-bottom: 80px;
    background-color: #3A1757;
    width: 60%;
    height: 200px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.follower{
    text-align: center;
    flex-basis:25%;
    margin-top: 27px;
}

.size-flex-info-artist{
    flex-basis: 75%;
}

.size-flex-info-artist p{
    margin-top: 8%;
    max-width: 80%;
    margin-left: 20px;
}

#size-text{
    font-size: 20px;
    flex-basis: 75%;
}

#size-text p{
    max-width: 80%;
    margin-left: 20px;
}