/*Commun*/
html,body{
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

body{
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: #d7dddd;
}

a{
    color: dark;
    text-decoration: none;
    color: white;
}

a:hover, a:active,a:visited{
    color: white;
}


@font-face {
    font-family: 'gisbon_demodemo';
    src: url('gisbon_demo-webfont.woff2') format('woff2'),
         url('gisbon_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/**************Style bouton**************/

.button-style{
    height: 65px;
    width: 250px;
    margin-top: 12%;
    text-align: center;
    border-radius: 32px;
    border: none;
    background-color: rgba(255,255,255, 0.48)
}

.button-style:hover{
    background-color: black;
}



.button-style{
    font-weight: bold;
    color: white;
    font-size: 25px;
}


/**************Footer**************/

footer{
    background-color: black;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.logo-footer{
    margin-left: 30%;
    margin-right: auto;
    align-items: center;
}

.logo-footer img{
    width: 100%;
    margin-top: 25%;
    margin-bottom: auto;
}

.logo-footer p{
    width: max-content;
    margin-top: 15%;
}

.social-network-link h2{
    text-align: center;
}


@media screen and (max-width:650px){
    .social-network-link{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}


/***************************Page Index***************************/

/*Partie image*/
.index-header{
    background:url("/static/images/concert.png")no-repeat center;
    height: 930px;
    background-size: cover;
    border: 1px solid black;
    text-align: center;
    position: relative;
}

.div-header-index{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.div-header-index h1{
    color: white;
    margin-top: 50px;
    font-size: 95px;
    font-weight: bold;
}


.div-header-index h2{
    color: white;
    font-size: 50px;
    font-weight: bold;
}

@media screen and (max-width:650px){
    .div-header-index h1{
        font-size: 80px;
    }

    .div-header-index h2{
        font-size: 30px;
    }
}

#image-arrow{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* Partie Flexbox*/
.container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
    padding: 2%;
    background-color:rgba(112, 112, 112,0.2);
}

.row{
    flex-basis: 1024px;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
}

.row img{
    border-radius: 50px;
    width: 407px;
    height: 271px;
    margin-left: auto;
    margin-right: auto;
}

.row p{
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:1024px) {
     .container p{
        width: 50%;
        margin-top: auto;
        margin-bottom: auto;
     }
}

.row-reverse{
    flex-direction: row-reverse;
}

.row-reverse p{
    margin-left: auto;
    margin-right: auto;
}


/***************************Page Menu***************************/

.button-back{
    width: 150px;
    height: 60px;
    color: black;
    border-radius: 6px;
    font-size: 25px;
    border:none;
    background-color: #F07404;
}

.button-back:hover{
    border:2px solid black
}

#button-back-menu{
position: absolute;
margin-top: 15px;
margin-left: 15px;
}

/*Header*/
:root {
    --rad: .5rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #F07404;
    --height: 3rem;
    --btn-width: 5rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }

header{
    background: linear-gradient(90deg, #3A1757 20%, #F98718);
    height: 100px;
}

header div{
    display: inline-block;
}

.form-search{
    margin-right: 25px;
    margin-top: 1%;
    float: right;
    position: relative;
    width: 30rem;
    background: var(--color-brand);
    border-radius: var(--rad);
}

.logo-ynov{
    margin-left: 28px;
    margin-top: 1.2%;
}

.allLocations {
    margin-top: 3px;
    margin-right: 25px;
    float: right;
    position: relative;
}

#allLocations {
    color: red;
}
 
/*SearchBar*/
.design-search, .button {
  height: var(--height);
  border: 0;
  color: var(--color-dark);
  font-size: 1.4rem;
}

.design-search[type="text"] {
  outline: 0; 
  width: 90%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none; 
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.button {
  display: none; 
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}
.design-search:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - 8rem);
}

.button:not(:placeholder-shown){
    display: block;
}

@media screen and (max-width:700px) {

    header{
        background-color: #18062C;
        height: 150px;
    }

    .logo-ynov{
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .form-search{
        width: 20rem;
        float: none;
        margin-left: 15%;
    }
}

/*Filter*/
.div-form-filters{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
}

#div-button-form{
    margin-top: 1%;
}


.button-style-form{
    height: 65px;
    width: 250px;
    text-align: center;
    border-radius: 32px;
    border: none;
    background-color: rgba(255,255,255, 0.48);
    font-weight: bold;
    color: black;
    font-size: 22px;
    margin-top: auto;
    margin-bottom: auto;
}

.button-style-form:hover{
    background-color: black;
    color: white;
}

#buton-hidden{
    margin-right: 300px;
}

.div-form-filters form div {
    padding: 3px;
}


.Members-form{
    display: inline;
}

/* Menu Card*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px;
    border-radius: 15px;
    margin-right: 2%;
    margin-top: 2%;
  }

  .flip-card-front img{
      width: 100%;
      height: 100%;
      border-radius: 15px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 15px;
    transition: transform 1.2s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg)
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 15px;
  }
  
  .flip-card-back {
    background-color: #F07404;
    color: white;
    transform: rotateY(180deg);
    border-radius: 15px;
  }
  .flip-card-back p{
    text-align: center;
  }


  .flip-card-front img{
      border-radius: 15px;
  }

.flex-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%
}

/***************************Page Artist***************************/

#header-artist{
    height:830px;
    border-top: 1px solid transparent;
    background-color: white;
    overflow: hidden;
}

#position-image-artist{
    height: 770px;
    width: 770px;
    float: right;
    z-index: 1;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#position-image-artist img{
    width: 100%;
    height: 100%;
}

#position-text-artist{
    color: white;
    border:  1px solid transparent;
    z-index: 2;
    position: relative;
    height: 100%;
}

#position-text-artist h1{
    margin-top: 150px;
    font-size: 120px;
    color: #3A1757;
    text-shadow: 8px 8px #F98718;
    font-family: "gisbon_demodemo";
    margin-left: 50px;
    height: auto;
    width: 55%;
}

#position-text-artist div{
    position: absolute;
    bottom: 0px;
    margin-bottom: 80px;
    background-color: #3A1757;
    width: 60%;
    height: 200px;
    margin-left: 50px;
    padding-left: 30px;
    padding-top: 30px;
}

.title-top-songs{
    color: #3A1757;
    font-family: "gisbon_demodemo";
    text-shadow: 8px 8px #F98718;
    font-size: 70px;
    margin-left: 50px;
}

.container-songs{
    background-color: #3A1757;
    width: 95.8%;
    height: 144px;
    position: absolute;
    z-index: 0;
    top: 29px;
    left: 50px;
}

.top-songs{
    text-align: center;
    position: relative;
    bottom: 40px;
}

.top-songs li{
    margin-right: 122px;
    z-index: 2;
    position: relative;
}

.top-songs ul,li{
    display: inline-block;
}

.top-songs ul li img{
    border-radius: 300px;
    width: 192px;
    height: 192px;
    border: 3px solid white;
}

.top-songs h2{
    position: relative;
    bottom: 59px;
    z-index: 3;
    color: #F98718;
    font-size: 35px;
    font-family: "gisbon_demodemo";
}

.position-flex{
    position: relative;
    bottom: 230px;
}

.flex-artists{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.container-concerts{
    flex-basis: 45%;
    padding: 50px;
}

.container-concerts h1{
    color: #3A1757;
    text-shadow: 5px 5px #F98718;
    font-size: 70px;
    font-family: "gisbon_demodemo";
    z-index: 1;
    position: relative;
    top: 85px;
    left: 50px;
}

.between-concerts{
    background-color: white;
    height: 499px;
    box-shadow: 2px 2px 2px grey;
}

.container-location-concerts p, button{
    display: inline-block;
}

.container-location-concerts p{
    margin-left: 92px;
    font-size: 23px;
    color: black;
}

.container-location-concerts button{
    margin-left: 200px;
    font-size: 20px;
    color: white;
    width: 241px;
    height: 53px;
    border-radius: 30px;
    background-color: #F98718;
    border: none;
    text-align: center;
    font-weight: bold;
}

.div-location {
    color: black;
    display: grid;
    grid-template: 100% / 20% 80%;
}

.text-location {
    grid-area: 1/1/1/1;
    align-items: center;
    text-align: center;
}

.map {
    grid-area: 1/2/1/2;
}

.concert-date {
    position: relative;
    display: none; 
}

.concert:hover + .concert-date {
    display: block;
}



.container-albums{
    flex-basis:  47%;
}

.container{
    width: 100%;
    display:block;
    overflow:hidden;
    background-color: white;
    border-radius: 0px;
    margin-top: 249px;
    height: 462px;
    position: relative;
    bottom:150px;
    box-shadow: 2px 2px 2px grey;
}

.carousel{
    display:block;
    width: 750px;
    height: 400px;
    background: white;
    overflow-x: scroll;
    padding: 10px;
    margin: 0;
    white-space: nowrap; 
    margin-top: 40px;
}

.item{
    display: inline-block;
    width: 380px;
    margin: 0 10px;
    height: 380px;
    background: rgba(0, 0, 0, 0.05) no-repeat center center;
    background-size: cover;
    position:relative;
    border-radius: 20px;
    box-shadow: 0 0 10px #dfdfdf;
}

.albums-title{
    color: #3A1757;
    text-shadow: 5px 5px #F98718;
    font-size: 70px;
    font-family: "gisbon_demodemo";
    z-index: 2;
    position: relative;
    top: 140px;
    left: 50px;
}
  
.item h1{
    top: 70%;
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1em;
  }









.background-map{
    background-color: white;
    width: 95%;
    height: 900px;
    margin-left: 2.5%;
    position: relative;
    bottom: 350px;
}

.map-title{
    color: #3A1757;
    text-shadow: 5px 5px #F98718;
    font-size: 70px;
    font-family: "gisbon_demodemo";
    z-index: 1;
    position: relative;
    bottom: 260px;
    left: 100px;
    width: 30%;
}

#mapID{
    width: 95%;
    height: 800px;
    margin-left: 48.5px;
    top: 50px;
}

.follower{
    width: 400px;
    height: 150px;
    position: relative;
    bottom: 270px;
    left: 750px;
    background-color: transparent;
    z-index: 5;
    display: inline-block;
    text-align: center;
}

.follower p{
    position: relative;
    bottom: 15px;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

#logo-deezer{
    width: 75px;
    height: 75px;
}



/***************************Page Error***************************/
#error-button{
background-color: #707070;
}

#error-button:hover{
    background-color: black;
}

#error{
margin-top: 10%;
text-align: center;
}

#error h1{
    text-align: center;
    color: black;
}

#div-button-error{
    text-align: center;
}

/***************************Page concertLocation***************************/

#concertLocation {
    background-color: transparent;
    display: flex;
    max-width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 5%;
}

#location {
    margin-top: 5px;
    color: white;
}

.concert {
    background-color: white;
    width: 200px;
    height: 30px;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 5px;
    display: grid;
    grid-template: 30px / 150px 50px;
}

.location {
    grid-area: 1/1/1/1;
    background-color: #2f2f2f;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}

.flag {
    grid-area: 1/2/1/2;
    background-size: cover;
}

#flag {
    border-radius: 5px;
}

.capitalize {
    text-transform: capitalize;
}

/*********cityConcertt*********/
.city-concert {
    text-align: center;
}
.city-concert-page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.city-concert-artist {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#mapcity{
    height: 500px;
    width: 100%;
    border-radius: 15px;
    flex-basis: 40%;
    margin-top: 1%;
    margin-left: 3%;
}