/*Commun*/
html,body{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: #d7dddd;
}

a{
    color: dark;
    text-decoration: none;
    color: white;
}

a:hover, a:active,a:visited{
    color: white;
}

/**************Style bouton**************/

.button-style{
    height: 65px;
    width: 250px;
    margin-top: 12%;
    text-align: center;
    border-radius: 32px;
    border: none;
    background-color: rgba(255,255,255, 0.48)
}

.button-style:hover{
    background-color: black;
}



.button-style{
    font-weight: bold;
    color: white;
    font-size: 25px;
}


/**************Footer**************/

footer{
    background-color: black;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.logo-footer{
    margin-left: 30%;
    margin-right: auto;
    align-items: center;
}

.logo-footer img{
    width: 100%;
    margin-top: 25%;
    margin-bottom: auto;
}

.logo-footer p{
    width: max-content;
    margin-top: 15%;
}

.social-network-link h2{
    text-align: center;
}


@media screen and (max-width:650px){
    .social-network-link{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}


/***************************Page Index***************************/

/*Partie image*/
.index-header{
    background:url("/static/images/concert.png")no-repeat center;
    height: 930px;
    background-size: cover;
    border: 1px solid black;
    text-align: center;
    position: relative;
}

.div-header-index{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.div-header-index h1{
    color: white;
    margin-top: 50px;
    font-size: 95px;
    font-weight: bold;
}


.div-header-index h2{
    color: white;
    font-size: 50px;
    font-weight: bold;
}

@media screen and (max-width:650px){
    .div-header-index h1{
        font-size: 80px;
    }

    .div-header-index h2{
        font-size: 30px;
    }
}

#image-arrow{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* Partie Flexbox*/
.container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
    padding: 2%;
    background-color:rgba(112, 112, 112,0.2);
}

.row{
    flex-basis: 1024px;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
}

.row img{
    border-radius: 50px;
    width: 407px;
    height: 271px;
    margin-left: auto;
    margin-right: auto;
}

.row p{
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:1024px) {
     .container p{
        width: 50%;
        margin-top: auto;
        margin-bottom: auto;
     }
}

.row-reverse{
    flex-direction: row-reverse;
}

.row-reverse p{
    margin-left: auto;
    margin-right: auto;
}


/***************************Page Menu***************************/


/*Header*/

:root {
    --rad: .5rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #F07404;
    --height: 3rem;
    --btn-width: 5rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }

header{
    background-color: #18062C;
    height: 100px;
}


header div{
    display: inline-block;
}

.form-search{
    margin-right: 25px;
    margin-top: 1%;
    float: right;
    position: relative;
    width: 30rem;
    background: var(--color-brand);
    border-radius: var(--rad);
}

.logo-ynov{
    margin-left: 28px;
    margin-top: 1.2%;
}
 
/*SearchBar*/
.design-search, .button {
  height: var(--height);
  border: 0;
  color: var(--color-dark);
  font-size: 1.4rem;
}

.design-search[type="text"] {
  outline: 0; 
  width: 90%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none; 
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.button {
  display: none; 
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}
.design-search:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - 8rem);
}

.button:not(:placeholder-shown){
    display: block;
}

@media screen and (max-width:700px) {

    header{
        background-color: #18062C;
        height: 150px;
    }

    .logo-ynov{
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .form-search{
        width: 20rem;
        float: none;
        margin-left: 15%;
    }
}

/*Filter*/
.div-form-filters{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
}

#div-button-form{
    margin-top: 1%;
}


.button-style-form{
    height: 65px;
    width: 250px;
    text-align: center;
    border-radius: 32px;
    border: none;
    background-color: rgba(255,255,255, 0.48);
    font-weight: bold;
    color: black;
    font-size: 22px;
    margin-top: auto;
    margin-bottom: auto;
}

.button-style-form:hover{
    background-color: black;
    color: white;
}

#buton-hidden{
    margin-right: 300px;
}

.div-form-filters form div {
    padding: 3px;
}


.Members-form{
    display: inline;
}

/* Menu Card*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px;
    border-radius: 15px;
    margin-right: 2%;
    margin-top: 2%;
  }

  .flip-card-front img{
      width: 100%;
      height: 100%;
      border-radius: 15px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 15px;
    transition: transform 1.2s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg)
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 15px;
  }
  
  .flip-card-back {
    background-color: #F07404;
    color: white;
    transform: rotateY(180deg);
    border-radius: 15px;
  }
  .flip-card-back p{
    text-align: center;
  }


  .flip-card-front img{
      border-radius: 15px;
  }

.flex-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%
}

/*Page Artist*/
.button-back{
    width: 150px;
    height: 60px;
    color: black;
    border-radius: 6px;
    font-size: 25px;
    border:none;
    background-color: #F07404;
}

.button-back:hover{
    border:2px solid black
}

#button-back-artist, #button-back-menu{
position: absolute;
margin-top: 15px;
margin-left: 15px;
}

#div-image-artist{
    height: 720px;
    text-align: center;
    position: relative;
    margin-top: 50px;
    text-align: center;
}

#div-image-artist img{
    background :no-repeat;
    height: 720px;
    position: relative;
    background-position: center;
    border-radius: 66px;
}

#text-artist{
    text-align: center;
    color: black;
}

#text-artist h1{
    font-size: 60px;
}

#text-artist p{
    font-size: 23px;
}

#mapID{
    height: 500px;
    width: 700px;
    border-radius: 15px;
    flex-basis: 40%;
    margin-left: 25%;
}

.div-location{
    color: black;
    display: flex;
    margin-top: 5%;
}

.text-location{
    flex-basis: 30%;
    width: 100%;
}

.text-location h1{
    margin-left: 150px;
}

.text-location li{
    margin-left: 180px;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.text-location div{
    text-align: center;
}

.text-location ul{
    margin-left: 180px;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}

/*Page Error*/
#error-button{
background-color: #707070;
}

#error-button:hover{
    background-color: black;
}

#error{
margin-top: 10%;
text-align: center;
}

#error h1{
    text-align: center;
    color: black;
}

#div-button-error{
    text-align: center;
}