<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="/static/file.js"></script>
    <title>Groupie Tracker</title>
</head>
<body onload="javascript:loadMapCity('{{.City}}')">

    <header>
        <div class="logo-ynov">
            <a href="/groupie/"><img src="/static/images/ynov_white.png" alt="logo de Ynov"></a>
        </div>

        <div class="random-artist">
            <img onclick="javascript:randomArtist();" src="/static/images/Dice.png">
            <p onclick="javascript:randomArtist();">Artiste aléatoire</p>
        </div>

        <div class="allLocations">
            <a href="/concertLocation/">
                <img src="/static/images/WorldMapWhite.svg" alt="World Map">
                <p>Villes</p>
            </a>
        </div>

        <div class="form-search">
            <input onsubmit="event.preventDefault();" name="search" class="design-search" id="search" type="text" list="searchs" placeholder="Rechercher..." autofocus required />
            <datalist id="searchs" name="searchs">
                {{$APISearch := .Data}}
                {{range $ID,$v:= $APISearch.Artists}}
                <option data-id="{{(index $APISearch.Artists $ID).ID}}" value="{{(index $APISearch.Artists $ID).Name}} | Artist - Band">

                {{range (index $APISearch.Artists $ID).Members }}
                <option data-id="{{(index $APISearch.Artists $ID).ID}}" value="{{.}} | Member"></option>
                {{end}}
                <option data-id="{{(index $APISearch.Artists $ID).ID}}" value="{{(index $APISearch.Artists $ID).FirstAlbum}} | First Album"></option>
                <option data-id="{{(index $APISearch.Artists $ID).ID}}" value="{{(index $APISearch.Artists $ID).CreationDate}} | Creation date"></option>
                {{end}}

                {{range $index, $city := .AllLocations}}
                    <option class="capitalize" data-id="city{{$index}}" value="{{$city}} | Locations"></option>
                {{end}}
            </datalist>
            <button class="button" onclick="javascript:searchBar();" type="submit">Go</button>    
        </div>
    </header>

    {{ $API := .SpecialData }}
    <div class="city-concert"><h1 class="capitalize">{{.City}}</h1></div>

    <div class="city-concert-artist">
        {{range $ID, $v := $API.Artists}}
        <div class="flip-card">
            <a href="/artist/{{(index $API.Artists $ID).ID}}">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="{{(index $API.Artists $ID).Image}}">
                    </div>
                    <div class="flip-card-back">
                        <h1>{{(index $API.Artists $ID).Name}}</h1> 
                        <h3>Date de création :</h3>
                        <p>{{ (index $API.Artists $ID).CreationDate}}</p>
                        <h3>Membres : </h3>
                        <p>{{range (index $API.Artists $ID).Members }}{{ . }} <br> {{ end }}</p>
                    </div>
                </div>
            </a>         
        </div>
        {{end}}
    </div>

    <div class="container-title-mapcity">
        <h1 class="mapcity-title">Carte de la ville</h1>
        <div class="background-mapcity">
            <div id="mapcity"></div>
        </div>
    </div>

    <div class="espacement"></div>
    <footer>
        <div class="flex-footer">
            <div class="title-footer">
                <section>
                    <h1 id="groupie">Groupie</h1>
                    <h1>Tracker</h1>
                </section>
            </div>
            <div class="links">
                <section>
                    <h1>Liens utiles</h1>
                </section>

                <div class="flex-link">
                    <li><a href="/">Informations</a></li>
                    <li><a href="/groupie/">Menu</a></li>
                    <li><a onclick="javascript:randomArtist();">Artiste aléatoire</a></li>
                    <li><a href="/concertLocation/">Les villes</a></li>
                </div>
            </div>
            <div class="contact">
                <section>
                    <h1>Contact</h1>
                </section>
                <div class="flex-contact">
                    <ul class="email"><img src="/static/images/email.png">Pierre_gourgouillon@hotmail.com</ul>
                    <ul class="linkedin"><a href="https://www.linkedin.com/in/pierre-gourgouillon-a506391aa/" target="_blank">Pierre Gourgouillon </a> <img src="/static/images/linkedin.png"></ul>
                    <ul class="email"><img src="/static/images/email.png">lucasbart@hotmail.fr</ul>
                    <ul class="linkedin"><a href="https://www.linkedin.com/in/lucas-barth%C3%A9l%C3%A9my-256679208/" target="_blank">Lucas Barthélémy </a><img src="/static/images/linkedin.png"></ul>
                </div>
            </div>
        </div>

        <div class="logo-footer">
          <img src="/static/images/logo_ynov.svg">
        </div>  
    </footer>
</body>
</html>