<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/file.js"></script>
    <title>Groupie Tracker</title>
</head>
<body>
    <header>
        <div class="logo-ynov">
            <a href="/groupie/"><img src="/static/images/ynov_white.png" alt="logo de Ynov"></a>
        </div>

        <div class="random-artist">
            <img onclick="javascript:randomArtist();" src="/static/images/Dice.png">
            <p onclick="javascript:randomArtist();">Artiste aléatoire</p>
        </div>

        <div class="allLocations">
            <a href="/concertLocation/">
                <img src="/static/images/WorldMapWhite.svg" alt="World Map">
                <p>Villes</p>
            </a>
        </div>

        <div class="form-search">
            <input onsubmit="event.preventDefault();" name="search" class="design-search" id="search" type="text" list="searchs" placeholder="Rechercher..." autofocus required />
            <datalist id="searchs" name="searchs">
                {{$APISearch := .Data}}
                {{range $ID,$v:= $APISearch.Artists}}
                <option data-id="{{(index $APISearch.Artists $ID).ID}}" value="{{(index $APISearch.Artists $ID).Name}} | Artist - Band">
                {{range (index $APISearch.Artists $ID).Members }}
                <option data-id="{{(index $APISearch.Artists $ID).ID}}" value="{{.}} | Member"></option>
                {{end}}
                <option data-id="{{(index $APISearch.Artists $ID).ID}}" value="{{(index $APISearch.Artists $ID).FirstAlbum}} | First Album"></option>
                <option data-id="{{(index $APISearch.Artists $ID).ID}}" value="{{(index $APISearch.Artists $ID).CreationDate}} | Creation date"></option>
                {{end}}
                {{range $index, $city := .AllLocations}}
                <option class="capitalize" data-id="city{{$index}}" value="{{$city}} | Locations"></option>
                {{end}}
            </datalist>
            <button class="button" onclick="javascript:searchBar();" type="submit">Go</button>    
        </div>
    </header>

    {{ $API := .SpecialData }}
    {{ $Flag := .Flag}}
    <div class="concertLocation">
        {{range $index, $v := $API.Locations}}
        <a href="/cityConcert/{{$index}}">
            <div class="concert">
                <div class="flag">
                    <img id="flag" src="https://flagcdn.com/{{(index $Flag $index)}}.svg" width="70" height="50">
                </div>
                <div class="location">
                    <p id="location" class="capitalize">{{$v}}</p>
                </div>
            </div>
        </a>
        {{end}}  
    </div>

    <div class="espacement"></div>
    <footer>
        <div class="flex-footer">
            <div class="title-footer">
                <section>
                    <h1 id="groupie">Groupie</h1>
                    <h1>Tracker</h1>
                </section>
            </div>
            <div class="links">
                <section>
                    <h1>Liens utiles</h1>
                </section>

                <div class="flex-link">
                    <li><a>Groupie</a></li>
                    <li><a>Groupie</a></li>
                    <li><a>Groupie</a></li>
                    <li><a>Groupie</a></li>
                </div>
            </div>
            <div class="contact">
                <section>
                    <h1>Contact</h1>
                </section>
                <div class="flex-contact">
                    <ul class="email"><img src="/static/images/email.png">Pierre_gourgouillon@hotmail.com</ul>
                    <ul class="linkedin">Pierre Gourgouillon <img src="/static/images/linkedin.png"></ul>
                    <ul class="email"><img src="/static/images/email.png">Lucas Barthélémy@hotmail.com</ul>
                    <ul class="linkedin">Lucas Barthélémy <img src="/static/images/linkedin.png"></ul>
                </div>
            </div>
        </div>

        <div class="logo-footer">
          <img src="/static/images/logo_ynov.svg">
        </div>  
    </footer>
</body>
</html>