<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>404 Not Found</title>
</head>
<body>

    <div id="error">
        <h1>404 Not Found</h1>
        <h1>Une erreur est survenue</h1>
        <h1>Veuillez revenir au menu principal</h1>
    </div>

    <div id="div-button-error">
        <button class="button-style" id="error-button"><a href="/groupie/">Retour</a></button>
    </div>
    
    
    
</body>
</html>