<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/static/file.js"></script>
    <title>Groupie Tracker</title>
</head>
<body>
    <header>
        <div class="logo-ynov">
            <a href="/groupie/"><img src="/static/images/ynov_white.png" alt="logo de Ynov"></a>
        </div>

        <div class="random-artist">
            <img onclick="javascript:randomArtist();" src="/static/images/Dice.png">
            <p onclick="javascript:randomArtist();">Artiste aléatoire</p>
        </div>

        <div class="allLocations">
            <a href="/concertLocation/">
                <img src="/static/images/WorldMapWhite.svg" alt="World Map">
                <p>Villes</p>
            </a>
        </div>

        <div class="form-search">
            <input onsubmit="event.preventDefault();" name="search" class="design-search" id="search" type="text" list="searchs" placeholder="Rechercher..." autofocus required />
            
            <datalist id="searchs" name="searchs">
                {{$APISearch := .Data}}
                {{range $ID,$v:= $APISearch.Artists}}
                <option data-id="{{(index $APISearch.Artists $ID).ID}}" value="{{(index $APISearch.Artists $ID).Name}} | Artist - Band">
        
                {{range (index $APISearch.Artists $ID).Members }}
                    <option data-id="{{(index $APISearch.Artists $ID).ID}}" value="{{.}} | Member"></option>
                {{end}}
                    <option data-id="{{(index $APISearch.Artists $ID).ID}}" value="{{(index $APISearch.Artists $ID).FirstAlbum}} | First Album"></option>
                    <option data-id="{{(index $APISearch.Artists $ID).ID}}" value="{{(index $APISearch.Artists $ID).CreationDate}} | Creation date"></option>
                {{end}}
        
                {{range $index, $city := .AllLocations}}
                    <option class="capitalize" data-id="city{{$index}}" value="{{$city}} | Locations"></option>
                {{end}}
            </datalist>
            
            <button class="button" onclick="javascript:searchBar();" type="submit">Go</button>    
        
        </div>
    </header>

    <a href="/groupie" id="button-back-menu"><h1 class="button-back">Retour</h1></a>

<div class="flex-box">
    {{$API := .}}
    {{range $ID, $v := $API.Data.Artists}}
      <div class="flip-card">
        <a href="/artist/{{(index $API.Data.Artists $ID).ID}}">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="{{(index $API.Data.Artists $ID).Image}}">
            </div>
            <div class="flip-card-back">
              <h1>{{(index $API.Data.Artists $ID).Name}}</h1> 
              <h3>Date de création: </h3>
              <p>{{ (index $API.Data.Artists $ID).CreationDate}}</p>
              <h3>Membres: </h3>
              <p>{{range (index $API.Data.Artists $ID).Members }}{{ . }} <br> {{ end }}</p>
            </div>
          </div>
        </a>         
      </div>
      {{end}}
  </div>

    <footer id="footer-filter">
      <div class="social-network-link">
          <h2>Nous contacter</h2>
          <div>
              <a href="https://www.linkedin.com/in/pierre-gourgouillon-a506391aa/" target="_blank"><ul><img src="/static/images/linkedin.png">Pierre Gourgouillon</ul></a>
              <a href="#" target="_blank"><ul><img src="/static/images/linkedin.png"> Lucas Barthelemy</ul></a>
          </div> 
          <div>
              <ul><img src="/static/images/email.png">Pierre_gourgouillon@hotmail.com</ul>

              <ul><img src="/static/images/email.png">lucasbart@hotmail.fr</ul>
          </div>
      </div>
      <div class="logo-footer">
          <img src="/static/images/logo_ynov.svg">
          <p>Créé par Lucas et Pierre</p>
      </div>
</footer>

</body>
</html>