<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div class="div-form-filters">
        <div id="div-button-form">
            <button  id="buton-hidden" class="button-style-form" onclick="javascript:printFilter();">Filtres de recherches</button>
            <button id="random-artist" class="button-style-form" onclick="javascript:randomArtist();">Random Artist</button>
        </div>
        
        
    <form action="/groupie/" method="GET" id="form-filters" hidden>
        <div class="div-input-form">
            <label for="checkAlbum">Premier Album</label>
            <input type="text" onkeypress="return checkEnter(event);" name="firstAlbum" id="idFirstAlbum" placeholder="Entrer une année">
        </div>

        <div>
            <label for="checkCreation">Date de création</label>
            <input type="text" onkeypress="return checkEnter(event);" name="creationDate" id="idCreationDate" placeholder="Entrer une année">
        </div>
        
        <div class="Members-form">
            <label for="checkMembers">Nombre de Membres</label>
            <input type="checkbox" id="checkbox-members" name="checkMembers" value="membersIsCheck" onclick="javascript:checkboxHiddenMembers();"> 
            <input type="range" min="1" max="8" step="1" name="members" id="idmembers" hidden>
            <label id="membersSlider" hidden></label>
        </div>

        <div>
            <label for="checkCity">Nombre de ville joués</label>
            <input type="checkbox" id="checkbox-city" name="checkCity" value="cityIsCheck"  onclick="javascript:checkboxHiddencity();">
            <input type="range" min="2" max="15" step="1" name="city" id="idcity" hidden>
            <label id="citySlider" hidden></label>
        </div>

        <div>
            <label>Ville joué:</label>
            <select name="citySearchFilter">
                <option disabled selected value>Choisir une ville</option>
                {{$a := .}}
                {{range $ID,$v:= $a.Cities}}
                <option value="{{(index $a.Cities $ID).ID}}">{{(index $a.Cities $ID).City}}</option>
                {{end}}
            </select>
        </div>
            <button type="submit">Send</button>
    </form>
    </div>
    
</body>
</html>