<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Groupie Tracker</title>
</head>
<body>

    <div class="position-image-index">
        <div class="image-index">
            <div class="title-index">
                <h1>GROUPIE TRACKER</h1>
            </div>
            <div class="text-title-index">
                <h2>Retrouvez et Stalkez vos artistes préférés</h2>
            </div>
            
            <div class="box-button">
                <a class="button-index" href="/groupie/">
                   <text>NEXT</text>
                   <img class="one" src="/static/images/key.png">
                   <img class="two" src="/static/images/key.png">
                   <img class="three" src="/static/images/key.png">
                </a>
            </div>  
        </div>
    </div>

    <div class="section-flex">
        <div class="espacement"></div>
        <div class="flexbox-index">
            <div class="grid-flex">
                <div class="line-flexbox1">
                    <div class="image-flex">
                        <img src="/static/images/live-concert.jpg">
                    </div>
                    <div class="padding-flex">
                        <section id="animation-1">
                            <h2>Discographie des artistes</h2>
                            <p>Vous allez retrouver sur ce site la discographie de grand artiste de la musique. Vous pourrez visionner une multitude d'information le concernant.
                                Rechercher tous les artistes du monde.
                            </p>
                        </section>
                    </div>
                </div>
    
                <div class="line-flexbox2">
                    <div class="image-flex">
                        <img src="/static/images/concert-dance.jpg">
                    </div>
                    <div class="padding-flex">
                        <section id="animation-2">
                            <h2>Les filtres</h2>
                            <p>Amusez-vous avec les différents filtres pour tout connaitre de vos artistes préférés. Vous pouvez filtrer par ville,par nombre de membre et bien plus !
                                De plus vous pouvez visionner les lieux des différents concerts.
                            </p>
                        </section>
                    </div>
                </div>
    
                <div class="line-flexbox1">
                    <div class="image-flex">
                        <img src="/static/images/concert-3.jpg">
                    </div>
                    <div class="padding-flex">
                        <section id="animation-3">
                            <h2>Groupie Tracker</h2>
                            <p>Ce projet avait pour but de traiter des données à l'aide d'une API. Dans le but d'améliorer notre projet nous avons également intégré l'API Deezer pour avoir des informations supplémentaires sur les artistes et l'API de drapeau pour améliorer le visuel.</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="espacement"></div>

    <div class="position-flexbox-presentation">
        <h1>Présentation de l'équipe</h1>
        <div class="flex-box-presentation">
            <div class="card-presentation">
                <div>
                    <img src="/static/images/concert.png">
                </div>
                <section>
                    <h2>Lucas Barthélémy</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta dolor praesentium at quod autem omnis, amet eaque unde perspiciatis adipisci possimus quam facere illo et quisquam quia earum nesciunt porro.</p>
                </section>   
            </div>
            <div class="card-presentation" id="card2">
                <div>
                    <img src="/static/images/concert.png">
                </div>
                <section>
                    <h2>Pierre Gourgouillon</h2>
                    <p>Actuellement étudiant en B1 Informatique chez Ynov. J'aimerai par la suite m'orienter dans la freelance en étant développeur back-end et mobile. Je suis constamment à la recherche d'objectif et de projet pour élargir mes connaissances.</p>
                </section>
            </div>
        </div>
    </div>
    <div class="espacement"></div>

    <footer>
        <div class="flex-footer">
            <div class="title-footer">
                <section>
                    <h1 id="groupie">Groupie</h1>
                    <h1>Tracker</h1>
                </section>
            </div>
            <div class="links">
                <section>
                    <h1>Liens utiles</h1>
                </section>

                <div class="flex-link">
                    <li><a>Groupie</a></li>
                    <li><a>Groupie</a></li>
                    <li><a>Groupie</a></li>
                    <li><a>Groupie</a></li>
                </div>
            </div>
            <div class="contact">
                <section>
                    <h1>Contact</h1>
                </section>
                <div class="flex-contact">
                    <ul class="email"><img src="/static/images/email.png">Pierre_gourgouillon@hotmail.com</ul>
                    <ul class="linkedin">Pierre Gourgouillon <img src="/static/images/linkedin.png"></ul>
                    <ul class="email"><img src="/static/images/email.png">Lucas Barthélémy@hotmail.com</ul>
                    <ul class="linkedin">Lucas Barthélémy <img src="/static/images/linkedin.png"></ul>
                </div>
            </div>
        </div>

        <div class="logo-footer">
          <img src="/static/images/logo_ynov.svg">
        </div>  
    </footer>
    
    <script>
        let backScroll = 0;

        window.addEventListener('scroll',(event)=>{
            const section1 = document.querySelector('#animation-1')
            const section2 = document.querySelector('#animation-2')
            const section3 = document.querySelector('#animation-3')

            var scrollLive = document.documentElement.scrollTop
            console.log("Cest le scroll", scrollLive)
        
            if (scrollLive > backScroll){
                if (scrollLive > 100){
                    section1.classList.add("animation-text-index")
                }else if (scrollLive < 100){
                    section1.classList.remove("animation-text-index")
                }

                if (scrollLive > 500){
                    section2.classList.add("animation-text-index")
                }else if (scrollLive < 500){
                    section2.classList.remove("animation-text-index")
                }

                if (scrollLive > 950){
                    section3.classList.add("animation-text-index")
                }else if(scrollLive < 950){
                    section3.classList.remove("animation-text-index")
                }
            }
            backScroll = scrollLive;
        })
    </script>
</body>
</html>