<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Groupie Tracker</title>
</head>
<body> 

    <div class="image-index">
        <div class="title-index">
            <h1>GROUPIE TRACKER</h1>
        </div>
        <div class="text-title-index">
            <h2>Retrouvez et Stalkez vos artistes préférés</h2>
        </div>
        
        <div class="box-button">
            <a class="button-index">
               <text>NEXT</text>
               <img class="one" src="/static/images/key.png">
               <img class="two" src="/static/images/key.png">
               <img class="three" src="/static/images/key.png">
            </a>
        </div>
        
    </div>

</body>
</html>