<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Groupie Tracker</title>
</head>
<body> 
    <div class="index-header">
        <h1>GROUPIE TRACKER</h1>
        <h2>Venez découvrir vos artistes favoris</h2>

        <button class="button-style"><a href="/groupie/">Let's Go</a></button>
        <div id="image-arrow">
            <img src="/static/images/arrow.png" alt="arrow">
        </div>
    </div>

  
        <div id="container-index">
            <div class="text-in-container-index" id="text-container-1">
                <p>Lorem Ipsum is simply dummy tejdshqiujhdiuosQHDUHSUDxt of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
    
            <div id="image1">
                <img src="/static/images/ticket.jpg">
            </div>
            
            <div id="image2">
                <img  src="/static/images/ticket.jpg">
            </div>

            <div class="text-in-container-index" id="text-container-2">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>

        <footer>
            <div class="social-network">

                <div class="social-network-link">
                    <h2>Nous contacter</h2>
                    <div>
                        <ul> <img src="/static/images/linkedin.png">Pierre Gourgouillon</ul>
                        <ul><img src="/static/images/linkedin.png">Lucas Barthelemy</ul>
                    </div>
                    
                    <div>
                        <ul><img src="/static/images/email.png">Pierre_gourgouillon@hotmail.com</ul>
                        <ul><img src="/static/images/email.png">Pierre Gourgouillon</ul>
                    </div>
                </div>

                <div class="logo-footer">
                    <img src="/static/images/logo_ynov.svg">
                </div>
            </div>

            <div class="text-footer">
                <p>Créé par Lucas et Pierre</p>
            </div>
        </footer>
   
</body>
</html>