<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/static/file.js"></script>
    <title>Groupie Tracker</title>
</head>
<body>

    <header>
        <div class="logo-ynov">
            <a href="/"><img src="/static/images/ynov_white.png" alt="logo de Ynov"></a>
        </div>

            <div class="form-search">
                <input onsubmit="event.preventDefault();" name="search" class="design-search" id="search" type="text" list="searchs" placeholder="Rechercher..." autofocus required />
                
                <datalist id="searchs" name="searchs">
                    {{$MDR := .}}
                    {{range $ID,$v:= $MDR.Artists}}
                    <option data-id="{{$ID}}" value="{{(index $MDR.Artists $ID).Name}} | Artist - Band">
            
                    {{range (index $MDR.Artists $ID).Members }}
                        <option data-id="{{$ID}}" value="{{.}} | Member"></option>
                    {{end}}
                        <option data-id="{{$ID}}" value="{{(index $MDR.Artists $ID).FirstAlbum}} | First Album"></option>
                        <option data-id="{{$ID}}" value="{{(index $MDR.Artists $ID).CreationDate}} | Creation date"></option>
                    {{end}}
            
                {{range $ID,$v := $MDR.Locations.Index}}
                    {{range (index $MDR.Locations.Index $ID).Locations}}
                        <option data-id="{{$ID}}" value="{{.}} | Locations"></option>
                    {{end}}
                {{end}}
                </datalist>
                
                <button class="button" onclick="javascript:searchBar();" type="submit">Go</button>    
            </div>     
    </header>


    <div>
        <form action="/groupie/" method="GET">
            <label for="creation">Date de création</label>
            <input type="radio" name="creation" value="creation">

            <label for="album">Date du premier Album</label>
            <input type="radio" name="album" value="album">

            <button type="submit">Send</button>
        </form>
    </div>



    <div class="flex-box">
      {{$API := .}}
      {{range $ID, $v := $API.Artists}}
        <div class="flip-card">
          <a href="/artist/{{$ID}}">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="{{(index $API.Artists $ID).Image}}">
              </div>
              <div class="flip-card-back">
                <h1>{{(index $API.Artists $ID).Name}}</h1> 
                <p>Creation date : {{ (index $API.Artists $ID).CreationDate}}</p>
                <h4>Membres: </h4>
                <p>{{range (index $API.Artists $ID).Members }}{{ . }} <br> {{ end }}</p>
              </div>
            </div>
          </a>         
        </div>
        {{end}}
    </div>

    <footer>
      <div class="social-network-link">
          <h2>Nous contacter</h2>
          <div>
              <a href="https://www.linkedin.com/in/pierre-gourgouillon-a506391aa/" target="_blank"><ul><img src="/static/images/linkedin.png">Pierre Gourgouillon</ul></a>
              <a href="#" target="_blank"><ul><img src="/static/images/linkedin.png"> Lucas Barthelemy</ul></a>
          </div> 
          <div>
              <ul><img src="/static/images/email.png">Pierre_gourgouillon@hotmail.com</ul>
              <ul><img src="/static/images/email.png">lucasbart@hotmail.fr</ul>
          </div>
      </div>
      <div class="logo-footer">
          <img src="/static/images/logo_ynov.svg">
          <p>Créé par Lucas et Pierre</p>
      </div>
</footer>

</body>
</html>