<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/file.js"></script>
    <title>Document</title>
</head>
<body onload="javascript:mapConcert()">
    {{$API := .Data}}
    <header>
        <div class="logo-ynov">
            <a href="/groupie/"><img src="/static/images/ynov_white.png" alt="logo de Ynov"></a>
        </div>

        <div class="form-search">
            <input onsubmit="event.preventDefault();" name="search" class="design-search" id="search" type="text" list="searchs" placeholder="Rechercher..." autofocus required />
            
            <datalist id="searchs" name="searchs">
                {{range $ID, $v := $API.Artists}}
                <option data-id="{{(index $API.Artists $ID).ID}}" value="{{(index $API.Artists $ID).Name}} | Artist - Band"></option>
        
                {{range (index $API.Artists $ID).Members }}
                    <option data-id="{{(index $API.Artists $ID).ID}}" value="{{.}} | Member"></option>
                {{end}}
                    <option data-id="{{(index $API.Artists $ID).ID}}" value="{{(index $API.Artists $ID).FirstAlbum}} | First Album"></option>
                    <option data-id="{{(index $API.Artists $ID).ID}}" value="{{(index $API.Artists $ID).CreationDate}} | Creation date"></option>
                {{end}}
        
                {{range $ID,$v := $API.Locations.Index}}
                    {{range (index $API.Locations.Index $ID).Locations}}
                        <option data-id="{{(index $API.Artists $ID).ID}}" value="{{.}} | Locations"></option>
                    {{end}}
                {{end}}
            </datalist>
            
            <button class="button" onclick="javascript:searchBar();" type="submit">Go</button>    
        </div>

        <div class="allLocations">
            <a href="/concertLocation/"><h3 id="allLocations">Villes</h3></a>
        </div>
    </header>

    <a href="/groupie/" id="button-back-artist"><button class="button-back">Retour</button></a>

    {{ $ArtAPI := .SpecialData }}

    <div class="hautdepage">
        <div class="NameG">
            <h1>{{ (index $ArtAPI.Artists 0).Name }}</h1>
        </div>
        <div class="div-image-artist-D">
            <img id="photo" src={{ (index $ArtAPI.Artists 0).Image }}>
        </div>

        <div class="text-artist-G">
            <p>Les membres du groupes sont: {{range (index $ArtAPI.Artists 0).Members }}{{ . }}, {{ end }}</p>
            <p>{{ (index $ArtAPI.Artists 0).Name }} a fait son apparition en {{ (index $ArtAPI.Artists 0).CreationDate }}</p>
            <p>Son premier album est sortie le {{ (index $ArtAPI.Artists 0).FirstAlbum }}</p>
        </div>
    </div>

    <div class="div-location">

        <div class="text-location">
            <h1>Les différents concerts :</h1>
            {{ $Flag := .Flag }}
            {{ range $index, $city := (index $ArtAPI.Locations) }}
                <div class="concert">
                    <div class="location">
                        <p id="location" class="geocities" class="capitalize">{{$city}}</p>
                    </div>
                    <div class="flag">
                        <img id="flag" src="https://flagcdn.com/{{(index $Flag $index)}}.svg" width="50" height="30">
                    </div>
                </div>
                <ul class="concert-date">
                    {{ range index ( index $ArtAPI.Relation ) $city }}
                        <li>{{ . }}</li>
                    {{ end }}
                </ul>
            {{ end }}
        </div>

        <div class="map" id="mapID"></div>
    
    </div>

    <footer>
        <div class="social-network-link">
            <h2>Nous contacter</h2>
            <div>
                <a href="https://www.linkedin.com/in/pierre-gourgouillon-a506391aa/" target="_blank"><ul><img src="/static/images/linkedin.png">Pierre Gourgouillon</ul></a>
                <a href="#" target="_blank"><ul><img src="/static/images/linkedin.png"> Lucas Barthelemy</ul></a>
            </div> 
            <div>
                <ul><img src="/static/images/email.png">Pierre_gourgouillon@hotmail.com</ul>
                <ul><img src="/static/images/email.png">lucasbart@hotmail.fr</ul>
            </div>
        </div>
        <div class="logo-footer">
            <img src="/static/images/logo_ynov.svg">
            <p>Créé par Lucas et Pierre</p>
        </div>
    </footer>
</body>
</html>